$vm_base: 1920;
$vh_base: 1080;
// 计算vw
@function vw($px) {
  @return calc($px / $vm_base) * 100vw;
}

// 计算vh
@function vh($px) {
  @return calc($px / $vh_base) * 100vh;
}

html,
body{
  margin:0;
  padding:0;
}
